body {
    /* margin: 0px;
    padding: 0px; */
    width: 100vw;
    height: 100vh;
    background-color: white
}

.main {
    width: 40vw;
    height: 90vh;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    margin: auto;
    margin-top: 50px;
    box-shadow: 0px 0px 50px rgb(77, 77, 77);
    border-radius: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main input {
    border-color: white;
    border-top: 1px;
    border-left: 1px;
    border-right: 1px;
    background: transparent;
    margin: 10px 5px;

}